[run]
data_file = coverage/.coverage
branch = true
source = sequgen

[paths]
source = sequgen/

[html]
directory = coverage/htmlcov/

[xml]
output = coverage/coverage.xml

[report]
omit =
    venv*
    env*
    tests/*

